#popularSection, footer{
background-color: #F2F2F2;
}

.menu a:hover{
	color: #0065FC;
}

.popular-card{
    background-color: white;
}
.grey-star{
    color:#F2F2F2
}
.blue-star{
    color: #0065FC
}

/* bleu clair : #DEEBFF */
