* {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	color: black;
}
.register{
	color: #0065FC;
	font-weight: 800;
}
.menu a{
	font-weight: 600;
}
h1 {
	font-size: 1.35rem;
	font-weight: 800;
}
h2{
	font-size: 1.1rem;
}
.search-box input {
	font-weight: 800;
}
.search-box button {
	font-weight: 600;
}
input[type="search"] {
	font-size: 1.1rem;
}

.output-icon {
	font-size: 0.75rem;
	color: #0065FC;
}
.card-body h2{
 font-size: 1rem;
}
.card-body p{
 font-size: 0.9rem;
}
.show-more{
	font-size: 1.1rem;
	font-weight: 800;
}
.card-lower-body{
	font-size: 0.7rem;
}
.footer-ul li{
	font-weight: 500;
}