header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

nav li {
	display: flex;

	justify-content: space-around;
	align-items: flex-start;
}
.menu {
	display: flex;
}
.home,
.register {
	display: flex;
	justify-content: center;
	align-items: center;
}

main section {
	display: flex;
	flex-direction: column;
}
main section .section-title {
	display: flex;
	justify-content: space-between;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-box label,
.search-box button {
	display: flex;
	justify-content: center;
	align-items: center;
}
output {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.output-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
output span {
	display: block;
}


.card-link{
	display:block;
}

.popular-card{
	display: flex;
}
.rentals-card .card-body,.popular-card .card-body{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}

.activities-card{
	display: flex;
	flex-direction: column;
}
.activities-card .card-body{
	display: flex;
	align-items: center;
} 
