.home {
	padding-left: 2ch;
}
.register {
	padding-right: 2ch;
}
main section {
	padding: 1.5rem 1.25rem;
}
h1 {
	margin: 0.5rem 0 0.7rem 0;
}
.section-title {
	margin: 1.5rem 0 1.75rem 0;
}
.search-box {
	margin: 2.25rem 0 2rem 0;
}

input[type="search"] {
	margin: 0 -0.9rem 0 0;
	padding-left: 1.5ch;
}

.card-link {
	margin-bottom: 0.65rem;
}
.popular-card .card-body {
	padding: 1rem 2ch;
}
.rentals-card .card-body {
	padding: 0.5rem 1ch;
}
.rentals-card .card-body p {
	margin: 0.25rem 0;
}
.activities-card .card-body {
	padding: 0.5rem 1ch;
}
.show-more {
	margin: 2rem 0 0 0;
}
footer {
	margin-top: 1rem;
	padding: 2.5rem 2ch 0 2.5rem;
}
footer section{
	margin-bottom: 2.5rem;
}
.footer-ul {
	margin: 1.5rem 0 0 0 !important;
}
.footer-ul li {
	margin-top: 0.55rem;
}

@media (min-width: 1250px) {
	header {
		padding: 0 2rem;
	}
	.home {
		padding-left: 0;
	}
	.register {
		padding-right: 0;
	}
	main section {
		padding: 1.5rem 1.25rem 0 1.25rem;
	}
	#searchSection {
		margin: 0.4rem 2rem 0 2rem;
		padding: 0.5rem 2.75ch 0 2.75ch;
	}
	#rentalsSection {
		margin: 0 3rem 0 2.5rem;
		/* padding: 0.5rem 2.75ch */
	}

	h1 {
		margin: 0 0 0.5rem 0;
	}
	.search-box {
		margin: 1.25rem 0 1.5rem 0;
	}
	output {
		margin: 2.25rem 0 2.5rem 0;
	}
	.section-title {
		margin: 1rem 1.5rem 0 1.5rem;
	}
	#rentalsSection .card-link {
		margin: 0 0 rem 0;
	}
	.rentals-card .card-body {
		padding: 0.5rem 2ch 1.25rem 2ch;
	}

	.show-more {
		margin: 0 2rem 1rem 2rem;
	}
	/* #popularSection {
		margin: 0.4rem 0 0.4rem 0;
	} */
	/* #popularSection .section-title {
		margin: 2.5rem 0 ;
	} */
	#popularSection .card-link:first-of-type {
		margin: 1.5rem 0 2.25rem 0;
	}
	#popularSection .card-link {
		margin: 0 0 2.25rem 0;
	}
	#activitiesSection {
		padding: 1rem 2.75rem;
	}
	#activitiesSection .section-title {
		margin: 2.5rem 0;
	}
	.activities-card .card-body {
		padding-left: 2ch;
	}
	footer {
		padding: 2.75rem 5ch;
	}
}
