.home{
	padding-left: 2ch;
}
.register{
	padding-right: 2ch;
}
section {
	padding: 1.5rem 1.25rem;
}
h1{
	margin: 0.5rem 0 0.7rem 0;
}
.search-box {
	margin: 2.25rem 0 2rem 0;
}

fieldset {
	padding: 0;
	margin: 0;
}

.card-link:first-of-type{
	margin: 0.5rem 0;
}
.card-link{
	margin-bottom: 0.5rem;
}
.popular-card .card-body{
	padding: 1rem 2ch;
}
.rentals-card .card-body{
	padding: 0.5rem 1ch;
}
.rentals-card .card-body p{
	margin: 0.25rem 0;
}
.activities-card .card-body{
	padding: 0.5rem 1ch;
}
.show-more{
	margin:2rem 0 0 0;
}
/* .card-p-rentals{
	margin: 0.25rem 0;
} */
