/* .menu a:visited{
	border-bottom: 2px solid #0065FC;
} */
.menu a:hover {
	border-bottom: 2px solid #0065fc;
}
/* .menu a:active{
	border-bottom: 2px solid #0065FC;
} */
.search-box label {
	border-top-left-radius: 0.9rem;
	border-bottom-left-radius: 0.9rem;
}
.search-box button {
	border-radius: 0.9rem;
}
input[type="search"] {
	border: none;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid#F2F2F2;
}
button {
	border: none;
}
.output-icon {
	border: 1px solid lightgray;
	border-radius: 50%;
}
.card-link {
	border-radius: 25px;
}
.popular-card {
	border: 5px solid white;
	border-radius: 25px;
}
.popular-card img {
	border-top-left-radius: 23px;
	border-bottom-left-radius: 23px;
}
.popular-card .card-body {
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
}
.rentals-card {
	border: 5px solid white;
	border-radius: 25px;

}
.rentals-card img {
	border-top-left-radius: 23px;
	border-top-right-radius: 23px;
}
.rentals-card .card-body,
.activities-card .card-body {
	border-bottom-left-radius: 23px;
	border-bottom-right-radius: 23px;
}

.activities-card {
	border-radius: 25px;

}
.popular-card, .rentals-card, .activities-card {
	
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.06);
}
.activities-card img {
	border-top-left-radius: 23px;
	border-top-right-radius: 23px;
}
@media (min-width: 768px) {
	.menu a:hover {
		border-top: 2px solid #0065fc;
		border-bottom: none;
	}
	
}
@media (min-width: 940px) {
	.search-box button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	#popularSection,
	#rentalsSection {
		border-radius: 25px;
	}
}
