#popularSection,
footer {
	background-color: #f2f2f2;
}

.menu a:hover {
	color: #0065fc;
}
.search-box label {
	background-color: #f2f2f2;
}
.search-box button {
	background-color: #0065fc;
}
.search-box button * {
	color: white;
}
.search-box button i {
	color: white;
}
.popular-card {
	background-color: white;
}
.grey-star {
	color: #d9d9d9;
}
.blue-star {
	color: #0065fc;
}
.card-body {
	background-color: white;
}

@media (min-width: 940px) {
	#rentalsSection,
	#popularSection,
	footer {
		background-color: #f2f2f2;
	}
}
/* bleu clair : #DEEBFF */
