.search-filters {
	display: flex;
	
	flex-wrap: wrap;
}
.search-filters h2 {
	height: 3rem;
	width: 100%;
	display:flex;
	align-items: center;
}
/* The switch - the box around the slider */
.filter-switch {
	position: relative;
	height: 3rem;
	margin-top: 1rem;
	margin-right: 0.5rem;
}

/* Hide default HTML checkbox */
.filter-checkbox {
	position: absolute;

	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.filter-title {
	position: relative;
	display: flex;
	align-items: center;
	width: calc(100% - 3rem);
	height: 100%;
	z-index: 9998;

	margin-left: 4rem;
	margin-right: 1rem;

	font-size: 1.1rem;
	font-weight: 800;
}
/* The slider */
.filter-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	border: 2px solid #d9d9d9;
}

.filter-title:before {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	left: -4rem;

	background-color: #deebff;

	color: #0065fc;
	font-family: FontAwesome;
}
#budgetFilter + .filter-slider + .filter-title:before {
	content: "\f53a";
}
#familyFilter + .filter-slider + .filter-title:before {
	content: "\f1ae";
}
#romanticFilter + .filter-slider + .filter-title:before {
	content: "\f004";
}
#petsFilter + .filter-slider + .filter-title:before {
	content: "\f6d3";
}

.filter-checkbox:checked + .filter-slider {
	background-color: #deebff;
}

.filter-checkbox:checked + .filter-slider + .filter-title:before {
	background-color: #0065fc;

	color: #deebff;
}

.filter-checkbox:not(:checked):hover + .filter-slider + .filter-title:before {
	-webkit-animation: rotate 1s normal linear;
	animation: rotate 1s normal linear;
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
	50% {
		-webkit-transform: rotate3d(0, 0, 1, 180deg);
		transform: rotate3d(0, 0, 1, 180deg);
	}
	100% {
		-webkit-transform: rotate3d(0, 0, 1, 360deg);
		transform: rotate3d(0, 0, 1, 360deg);
	}
}

/* Rounded sliders */
.filter-slider {
	border-radius: 34px;
}

.filter-title:before {
	border-radius: 50%;
}

@media (min-width: 940px) {
	.search-filters {
		align-items: center;
	}
	.search-filters h2 {
	height: 3rem;
	width: auto;
	
	align-items: center;
}
	.filter-switch {
		position: relative;
		height: 3rem;
		margin-bottom: 1rem;
		margin-right: 0;
		margin-left: 2.5rem;
	}
}
