header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.home,
.register {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	display: flex;
}
.menu a {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

main {
	display: flex;
	flex-direction: column;
}

main section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
main section .section-title {
	display: flex;
	justify-content: space-between;
	position:relative;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-box label,
.search-box button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.l-only{
	display: none;
}
output {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.output-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
output span {
	display: block;
}

.card-link {
	display: block;
}

.popular-card {
	display: flex;
}
.rentals-card .card-body,
.popular-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.masonry-wrap {
	display: flex;
	flex-flow: column wrap;
}
.activities-card {
	display: flex;
	flex-direction: column;
}
.activities-card .card-body {
	display: flex;
	align-items: center;
}
footer {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	header {
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.home {
		order: 1;
		align-self: flex-end;
	}
	nav {
		order: 2;
		justify-content: flex-end;
		align-items: center;
	}
	.menu a {
		align-items: center;
	}
	.register {
		order: 3;
	}
	#rentalsSection {
		flex-direction: row;
		justify-content: space-between;
	}
	.masonry-wrap {
		flex-direction: row;
		justify-content: space-between;
	}
}
@media (min-width: 940px) {
	
	main {
		flex-direction: row;
		flex-wrap: wrap;
	}
	#searchSection {
		order: 1;
	}
	.s-only{
		display: none;
	}
	.l-only{
		display: block;
	}
	#popularSection {
		order: 3;
		align-items: center;
		justify-content: flex-start;
	}
	#rentalsSection {
		order: 2;
	}
	#activitiesSection {
		order: 4;
	}
	#rentalsSection {
		flex-direction: row;

		justify-content: space-around;
	}
	.popular-card .card-upper-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.masonry-wrap {
		flex-direction: column;
		align-content: space-around;
		justify-content: space-between;
	}
	footer {
		flex-direction: row;
	}
}
